<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Scheduler</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="module" src="{{url_for('static', path='/firebase-login.js')}}"></script>
    <style>
        #login-box {
            margin: 0 auto;
            margin-top: 100px; 
            width: 300px; 
            border:2px solid white;
            border-radius:5px;
            padding:2%;
        }

        body {
          background-size: cover;
          background-image: url('static/image.jpg');
          height: 100vh;
        }
        label{
            color: white;
        }
    </style>
</head>
<body>
    <div id="login-box">
        <h2 class="text-center" style="text-decoration: underline;color:white;">Login / Signup</h2>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" class="form-control" required>
        </div><br/>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div><br/>
        <div class="d-flex justify-content-center">
            <button id="login" class="btn btn-primary btn-rounded me-2">Login</button>
            <button id="sign-up" class="btn btn-primary btn-rounded">Sign Up</button>
        </div>
    </div>
    {% if user_token %}
        <div class="container">
            <div class="text-end mb-4">
                <button id="sign-out" class="btn btn-danger">Signout</button>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <p class="fs-4 text-center" style="color:white;">Welcome, {{ user_token.email }}</p>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                  <div class="card">
                    <img src="static/back.jpg" class="card-img-top"/>
                    <div class="card-body">
                      <a href="/add_room" class="btn btn-primary" style="margin:auto;display:block">Add Room</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="static/back.jpg" class="card-img-top"/>
                    <div class="card-body">
                      <a href="/list_room" class="btn btn-primary" style="margin:auto;display:block">Rooms List</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="static/back.jpg" class="card-img-top"/>
                    <div class="card-body">
                      <a href="/add_booking" class="btn btn-primary" style="margin:auto;display:block">Add Booking</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="static/back.jpg" class="card-img-top"/>
                    <div class="card-body">
                      <a href="/list_booking" class="btn btn-primary" style="margin:auto;display:block">Bookings List</a>
                    </div>
                  </div>
                </div>
            </div><br/>
            <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
                <div class="col">
                    <div class="card">
                        <img src="static/back.jpg" class="card-img-top"/>
                        <div class="card-body">
                            <a href="/filter_booking" class="btn btn-primary" style="margin:auto;display:block">Filter Booking</a>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    {% endif %}
</body>
</html>